@charset "UTF-8";
/* font-face(wott, ttf) setting */
/* 나눔바른고딕 */
@font-face {
    font-family: 'nbg';
    src: url('./fonts/NanumBarunGothicRegular.woff') format('woff'),
         url('./fonts/NanumBarunGothicRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nbgB';
    src: url('./fonts/NanumBarunGothicBold.woff') format('woff'),
         url('./fonts/NanumBarunGothicBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* 나눔고딕 */
@font-face {
    font-family: 'ng';
    src: url('./fonts/NanumGothic.woff') format('woff'),
    	 url('./fonts/NanumGothic.woff2') format('woff2'),
         url('./fonts/NanumGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ngB';
    src: url('./fonts/NanumGothicBold.woff') format('woff'),
    	 url('./fonts/NanumGothicBold.woff2') format('woff2'),
         url('./fonts/NanumGothicBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* font css 적용 */
/* 
	적용하고 싶은 클래스 뒤에 공백 추가 후 <div class= "info nbg">
	이런식으로 뒤에 붙여주기만 하면 됩니다.
	font-weight, font-style은 사용하지 말아주세요. 
*/ 
.nbg{
	font-family: nbg;
}
.nbgB{
	font-family: nbgB;
}
.ng{
	font-family: ng;
}
.ngB{
	font-family: ngB;
}
/* CSS 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 구버전 브라우저 초기화 */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: #333; text-decoration: none; line-height: 1;
}
a:visited {
	color: #333;
}
*:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* admin Btn */
.adminBtn{
	position: absolute;
    min-width: 54px;
    font-size: 17px;
    line-height: 22px;
    border: 1px solid #BDD61A;
    background-color: #BDD61A;
    font-family: "nbgB";
    cursor: pointer;
}
/* common-header */
#header{
	width: 100%;
}
#header .gnbWrap{
	min-width: 1260px;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
#header .gnbWrap .gnbUtil{
	min-width: 1260px;
	height: 33px;
    padding-top: 7px;
    background-color: #202020;
    text-align: left;
}
#header .gnbUtil ul{
	float: right;
	padding-right: 40px;
	padding-top: 4px;
}
#header .gnbUtil ul li{
	float: left;
	color: #fff;
    font-size: 13px;
    line-height: 21px;
}
#header .gnbUtil ul li a{
	color: #fff;
    font-size: 13px;
    line-height: 21px;
}
#header .gnbUtil ul li a:before{
	content: '';
    display: inline-block;
    position: relative;
    width: 1px;
    height: 12px;
    margin: 0 12px;
    background-color: rgba(255, 255, 255, 0.2);
    vertical-align: middle;
}
#header .gnbMenu{
	position: relative;
    max-width: 1920px;
    min-width: 1260px;
    height: 53px;
    margin: 0 auto;
    padding-top: 24px;
    text-align: center;
}
#header .gnbMenu .logo{
	position: absolute;
	left: 40px;
    top: 25px;
}
#header .gnbMenu .logo a{
    display: block;
    width: 100%;
    line-height: 30px;
}
#header .gnbMenu .logo a > img{
	width: 151px;
}
#header .gnbList li{
	display: inline-block;
}

#header .gnbList li a{
    display: inline-block;
    padding: 0 72px;
    color: #101010;
    font-size: 22px;
    line-height: 32px;
}
#header .gnbList li .red_dot{
	position: relative;
}
#header .gnbList li .red_dot:before{
    content: '';
    position: absolute;
    top: -5px;
    right: 0;
    width: 5px;
    height: 5px;
    background: #EE0700;
    border-radius: 100px;
}
#header .gnbSide{
    position: absolute;
	right: 42px;
    top: 14px;
}
#header .gnbSide li{
	float: left;
    margin-left: 20px;
}
#header .gnbSide li.sideCart a:before{
	background-position: -430px -270px;
}
#header .gnbSide li.sideCart .num{
	position: absolute;
    right: 61px;
    top: -1px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #FF2727;
    color: #fff;
    font-weight: 700;
    font-size: 9px;
    line-height: 16px;
    text-align: center;
}
#header .gnbSide li.sideFind a:before{
	background-position: -243px -687px;
}
#header .gnbSide li a:before{
	content: '';
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../images/iconset.png) no-repeat;
    background-size: 470px 780px;
}
#header .gnbSide li .txt{
	display: block;
    margin-top: -2px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -1px;
    color: #101010;
}

/* common-footer */
#footer{
	position: relative;
	z-index: 999;
}
#footer .footerWrap{
	position: relative;
    min-width: 1260px;
    height: 213px;
    margin: 0 auto;
    background-color: #202020;
    text-align: center;
}
#footer .footerCont{
	width: 1180px;
    margin: 0 auto;
    text-align: left;
}
#footer .footerWrap .ftL{
	float: left;
    width: 300px;
    padding-top: 36px;
}
#footer .footerWrap .logo a{
    display: block;
    width: 151px;
    height: 48px;
    color: #fff;
    text-align: center;
    line-height: 48px;
    margin: 0;
}
#footer .footerWrap .logo a > img{
	width: 151px;
}
#footer .footerWrap .copy{
	padding: 45px 0 0 1px;
    color: #808080;
    font-size: 12px;
    line-height: 20px;
}
#footer .footerWrap .ftC{
	float: left;
    width: 650px;
    padding-top: 32px;
}
#footer .footerWrap .ftMenu{
	width: 100%;
    overflow: hidden;
}
#footer .footerWrap .ftMenu ul{
    width: 625px;
    margin-left: -25px;
}
#footer .footerWrap .ftMenu li{
	float: left;
    padding-right: 24px;
}
#footer .footerWrap .ftMenu .ftPoint{
	color: #BDD61A !important;
}
#footer .footerWrap .ftMenu li a{
	color: #fff;
    font-size: 13px;
    line-height: 21px;
}
#footer .footerWrap .ftInfo{
	overflow: hidden;
    padding-top: 18px;
    width: 630px;
}
#footer .footerWrap .ftInfo .ftInfoCon{
	margin-left: -9px;
}
#footer .footerWrap .ftInfo p{
    float: left;
    margin-top: 6px;
    padding-right: 8px;
    color: #808080;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
}
#footer .footerWrap .ftInfo p:before{
    content: '';
    display: inline-block;
    position: relative;
    width: 1px;
    height: 11px;
    margin-right: 8px;
    background-color: rgba(255,255,255,0.1);
    vertical-align: middle;
}
#footer .footerWrap .ftMenu li:before{
	content: '';
    display: inline-block;
    position: relative;
    width: 1px;
    height: 12px;
    margin-right: 24px;
    background-color: rgba(255,255,255,0.1);
    vertical-align: middle;
}
#footer .footerWrap .ftR{
    float: right;
    padding-top: 31px;
}
#footer .footerWrap .ftR dt{
    float: left;
    padding-right: 6px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    width: 90px;
}
#footer .footerWrap .ftR dd{
    float: left;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}
/* common-myFooditLM */
#myContainer{
	width: 1150px;
    height: 100%;
    margin: 0 auto;
}
#content{
	min-height: 900px;
    padding: 72px 0 140px;
}
.myContent .leftMenu{
	float: left;
}
.myContent .leftMenu h2.leftTit{
    color: #101010;
    font-size: 40px;
    line-height: 56px;
}
.myContent .leftMenu dl.myMenu{
	padding-top: 30px;
}
.myContent .leftMenu dl.myMenu dt{
	color: #101010;
    font-size: 20px;
    line-height: 30px;
    font-family: "nbgB";
}
.myContent .leftMenu dl.myMenu dd .menuList li{
	padding-top: 8px;
}
.myContent .leftMenu dl.myMenu dd .menuList li a{
	color: #606060;
    font-size: 14px;
    line-height: 22px;
    font-family: "ngB";
}
.myContent .leftMenu dl.myMenu dd .menuList li a:hover{
	color: #101010 !important;
	text-decoration: underline;
}
.myContent .leftMenu dl.myMenu dd .menuList li a.on{
	color: #101010 !important;
	text-decoration: underline;
}

/* common-myFooditRC */
.myContent .rightCont{
	float: right;
	width: 940px;
}

/* login-myFooditHome */
.mainTop .topInfo{
	padding: 0 24px;
    background: linear-gradient(-90deg, #7AB600, #7AB600 45%, #E1EE06);
    font-size: 0;
}
.mainTop .topInfo .name{
	display: inline-block;
    color: #101010;
    font-size: 22px;
    line-height: 64px;
    vertical-align: middle;
    font-family: "nbgB";
}

/* ** common-design ** */
/* -- title--  */
.singleTit{
	padding-bottom: 36px;
    color: #101010;
    font-size: 40px;
    line-height: 56px;
    border-bottom: 4px solid #202020;
}
/* common_btn */
.hide{
	display: inline-block;
    position: absolute;
    z-index: -10;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    font-size: medium;
    line-height: normal;
    word-break: break-all;	
}
/* -- mold -- */
/* no_data */
.no_data {
    padding: 80px 0 0;
    text-align: center;
}
.no_data p{
	font-family: "nbgB";
	font-size: 20px;
    line-height: 30px;
    color: #101010;
    font-weight: 700;
}
.no_data > span{
    font-family: "ng";
	display: block;
    margin-top: 8px;
    font-size: 14px;
    line-height: 22px;
    color: #606060;
    letter-spacing: -1px;
}
.no_data .rec_link{
    font-family: "nbg";
   	min-width: 51px;
    margin: 32px auto 0;
    display: inline-block;
    padding: 11px 20px 11px;
    border: 1px solid #ccc;
    text-align: center;
}
.no_data .ico{
    display: block;
    width: 83px;
    height: 80px;
    margin: 0 auto 24px;
    background: url(../images/iconset.png) -632px -1007px no-repeat;
    background-size: 1500px 2094px;
}
.rec_link span{
   	font-size: 14px;
    line-height: 22px;
    color: #101010;
}
.rec_link span:after{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: -3px 0 0 8px;
    border-bottom: 1.5px solid #202020;
    border-right: 1.5px solid #202020;
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    vertical-align: middle;
}
/* schWrap */
.schWrap {
    position: relative;
    z-index: 30;
    width: 644px;
    margin: 0 auto;
}
.schWrap .formInputWrap {
	height: 68px;
}
input.txt{
    display: inline-block;
    width: 85%;
    height: 48px;
    padding: 0 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #101010;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}
.schWrap input.txt{
    font-family: "nbgB";
    height: 51px;
    padding: 0 94px 0 20px;
    border: 2px solid #202020;
    color: #101010;
    font-size: 20px;
    opacity: 1;
}
.schWrap .formInputWrap .ico{
	display:none;
    position: absolute;
    top: 14px;
    right: 44px;
    width: 25px;
    height: 25px;
    background: url(../images/iconset.png) -114px -262px no-repeat;
    background-size: 360px 550px;
    border: 0;
    cursor: pointer;
}
.schWrap .srchBtn{
    position: absolute;
    right: -4px;
    top: 27px;
    width: 34px;
    height: 36px;
    margin-top: -16px;
    background: url(../images/iconset.png) -106px -369px no-repeat;
    background-size: 490px 770px;
    border: 0;
    cursor: pointer;
}
/* tabWrap */
.tabWrap{
	width: 100%;
}
.tabWrap .tabs{
	position: relative;
    width: 100%;
    font-size: 0;
}
.tabWrap .tabs:after{
	content: '';
    display: table;
    clear: both;
}
.tabWrap .tabs li{
	display: inline-block;
    width: initial;
    text-align: center;
    vertical-align: top;
}
.tabWrap .tabs li a{
	display: block;
    width: 100%;
    height: 100%;
    padding: 0 12px;
    white-space: nowrap;
}
.tabWrap .tabs li:first-child a{
	padding-left: 0;
}
.tabWrap .tabs li a > span{
	font-family: "nbg";
	position: relative;
    z-index: 1;
    display: inline-block;
    height: 41px;
    color: #606060;
    font-size: 24px;
    line-height: 34px;
    vertical-align: top;
}
.tabWrap .tabs li.on a > span{
	font-family: "nbgB";
	border-bottom: 3px solid #202020;
    color: #101010;
}
/* proModule + etc(mtElps) */
.mtElps{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.proModule{
	margin: 0;
}
.proModule:first-child{
	margin-top: 0;
}
.proModule a{
	display: block;
}
.proModule .imgWrap img{
	display: block;
    width: 100%;
}
.menuListWrap .imgWrap{
	text-align: center;
    position: relative;
}
.proModule .txtWrap{
	position: relative;
    padding: 16px 0 0;
}
.proModule .txtWrap .contInfo{
	font-size: 0;
}
.proModule .txtWrap .contInfo .contTxt{
	font-family: "nbg";
    display: block;
    color: #101010;
    font-size: 17px;
    word-break: break-all;
}
.proModule .txtWrap .titInfo{
	font-size: 0;
}
.proModule .txtWrap .titInfo .titTxt{
    position: relative;
    display: inline-block;
    color: #606060;
    font-size: 13px;
    line-height: 20px;
    vertical-align: middle;
}
.proModule .txtWrap .priceInfo{
	padding-top: 8px;
    font-size: 0;
}
.proModule .txtWrap .priceInfo .priceTxt{
	font-family: "nbg";
    display: inline-block;
    color: #101010;
    font-size: 18px;
    line-height: 27px;
    vertical-align: middle;
}
.proModule .txtWrap .priceInfo .priceNum{
	display: inline-block;
    vertical-align: top;
}
.proModule .txtWrap .priceInfo .wonTxt{
	letter-spacing: 0;
}
.proModule .txtWrap .etcInfo{
    font-size: 0;
    line-height: 0;
    padding: 8px 0 0;
}
.proModule .txtWrap .etcInfo .reviewNum{
    display: inline-block;
    color: #606060;
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
}
.proModule .txtWrap .etcInfo .reviewNum:before{
	content: '';
    display: inline-block;
    width: 1px;
    height: 14px;
    margin: -2px 10px 0;
    background-color: #e0e0e0;
    vertical-align: middle;
}
.ratingWrap{
	display: inline-block;
    vertical-align: top;
}
.ratingWrap .ratingStar{
	padding: 0;
	vertical-align: middle;
}
.ratingWrap .ratingStar span{
    display: block;
    width: 88px;
    height: 16px;
    /* 단순히 별 이미지만 불러오기 */
/*     background: url(../images/iconset.png) -114px -262px no-repeat; */
/*     background-size: 800px 800px; */
}
.ratingWrap .ratingStar span{
/* 	
	width: 88%; 
	(20%에 한개씩 점수가 채워 집니다.)
*/
}
/* pageNavi */
.pageNavi{
	padding-top: 56px;
    font-size: 0;
    text-align: center;
    clear: both;
}
.pageNavi .pagingWrap{
	font-family: "nbgB";
	display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
}
.pageNavi .pagingWrap a{
	font-family: "nbgB";
	display: inline-block;
    min-width: 40px;
    height: 40px;
    background-color: #fff;
    color: #606060;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    vertical-align: top;
}
.pageNavi .pagingWrap a:hover{
	border-bottom: 1px solid #202020;
}
.pageNavi .pagingWrap span{
	
    display: inline-block;
    min-width: 40px;
    height: 40px;
    background-color: #fff;
    color: #606060;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    vertical-align: top;
}
.pageNavi .pagingWrap span.nextBtn{
    background: url(../images/right_arrow.png) no-repeat;
    background-position: center;
    background-size: 13px;
    vertical-align: middle;
}
.pageNavi .pagingWrap span.prevBtn{
    background: url(../images/left_arrow.png) no-repeat;
    background-position: center;
    background-size: 13px;
    vertical-align: middle;
}
.pageNavi .pagingWrap span.nextBtnNone{
    background: url(../images/right_arrow_none.png) no-repeat;
    background-position: center;
    background-size: 13px;
    vertical-align: middle;
}
.pageNavi .pagingWrap span.prevBtnNone{
    background: url(../images/left_arrow_none.png) no-repeat;
    background-position: center;
    background-size: 13px;
    vertical-align: middle;
}
.pageNavi .pagingWrap span.ptPtxt{
	background-color: #202020;
    color: #fff;
}
/* cartBox */
.cartBox{
	display: inline-block;
    position: relative;
    width: 96px;
    height: 32px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
}
.btn_amount.minus{
	left: 0;
}
.btn_amount.minus:before{
	content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    background: url(../images/minus.png) no-repeat;
    background-position: center;
    background-size: 13px;
    vertical-align: middle;
}
.btn_amount{
    position: absolute;
    top: 0;
    width: 32px;
    height: 32px;
    border: 0;
    cursor: pointer;
}
.cart_amount{
	font-family: "nbgB";
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    color: #101010;
    text-align: right;
    border: 0;
    z-index: 0;
    cursor: default;
}
.btn_amount.plus{
    right: 0;
}
.btn_amount.plus{
	content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 32px;
    height: 32px;
    background: url(../images/plus.png) no-repeat;
    background-position: center;
    background-size: 13px;
    vertical-align: middle;
}
/* commonWrap */
.commonWrap .commonArea{
	max-width: 1200px;
    margin: 0 auto;
}
.commonWrap .commonArea .commonListTit{
	font-family: "ngB";
	text-align: center;
	font-size: 30px;
}
.commonWrap .commonArea .commonCont{
	margin: 0 auto;
}
.commonWrap .commonArea .commonCont table{
	width: 100%;
	margin-top: 25px;
	box-sizing: border-box;
	border-collapse: collapse;
}
.commonWrap .commonArea .commonCont table tbody{
	margin-bottom: 15px;
}
.commonWrap .commonArea .commonCont th{
	font-family: "nbg";
    font-size: 20px;
    text-align: left;
}
.commonWrap .commonArea .commonCont input[type=text]{
	font-family: "nbgB";
    border: 4px solid #000;
    padding: 8px;
    width: 752px;
    height: 30px;
    margin: 15px;
    color: #777;
    font-size: 18px;
}
.commonWrap .commonArea .commonCont textarea{
	display: block;
    position: relative;
    left: 10px;
    border: 4px solid #000;
    width: 776px;
    font-size: 18px;
    color: #777;
    box-sizing: border-box;
    resize: none;
    margin: 5px;
}
.commonWrap .commonArea .commonCont .comBtnWrap{
	margin: 0 auto;
	text-align: center;
	padding-top: 25px;
}
.commonWrap .commonArea .commonCont button{
    font-family: "nbgB";
    width: 130px;
    color: #101010;
    border: 1px solid #BDD61A;
    background-color: #BDD61A;
    height: 46px;
    font-size: 20px;
    line-height: 27px;
    cursor: pointer;
    margin: 0 12px 0 12px;
}
.cmHeight{
	height: 40px;
}
.cmHeight td{
	padding-left: 13px;
}
.cmHeight label{
	font-family: "nbg";
	display: inline-block;
    padding: 10px 20px;
    color: #999;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}
.cmHeight input[type=file]{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.cmHeight .upform{
    display: inline-block;
    height: 35px;
    font-size: 18px;
    padding: 0 10px;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    width: 669px;
}
.cmHeight select{
	font-size: 18px;
}
.myBest{
	width: 1180px;
    margin: 70px auto 0;
    letter-spacing: -0.5px;
}
.myBest .menuListWrap li:first-child .imgWrap a:before {
	font-family: "nbgB";
    content: 'BEST 01';
    display: inherit;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #202020;
    top: 15px;
    left: 15px;
    font-family: "nbgB";
    color: #fff;
    line-height: 1.6;
}
.myBest .menuListWrap li:nth-of-type(2) .imgWrap a:before {
	font-family: "nbgB";
    content: '02';
    display: inherit;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #202020;
    top: 15px;
    left: 15px;
    font-family: "nbgB";
    color: #fff;
    line-height: 51px;
}
.myBest .menuListWrap li:nth-of-type(3) .imgWrap a:before {
	font-family: "nbgB";
    content: '03';
    display: inherit;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #202020;
    top: 15px;
    left: 15px;
    font-family: "nbgB";
    color: #fff;
    line-height: 51px;
}
.myBest .menuListWrap li:nth-of-type(4) .imgWrap a:before {
	font-family: "nbgB";
    content: '04';
    display: inherit;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #202020;
    top: 15px;
    left: 15px;
    font-family: "nbgB";
    color: #fff;
    line-height: 51px;
}
.myBest .menuListWrap li:nth-of-type(5) .imgWrap a:before {
	font-family: "nbgB";
    content: '05';
    display: inherit;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #202020;
    top: 15px;
    left: 15px;
    font-family: "nbgB";
    color: #fff;
    line-height: 51px;
}
.myBest .menuListWrap li:nth-of-type(6) .imgWrap a:before {
	font-family: "nbgB";
    content: '06';
    display: inherit;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #202020;
    top: 15px;
    left: 15px;
    font-family: "nbgB";
    color: #fff;
    line-height: 51px;
}
.myBest .proModule .txtWrap .titInfo .titTxt{
    color: #000000;
    font-size: 20px;
    font-family: "nbgB";
}
.myBest #pdWrap .menuListWrap li{
	min-height: 448px;
}
.myFoodit{
    width: 1180px;
    margin: 140px auto 80px;
}
.myFoodit:after{
    content: '';
    display: table;
    clear: both;
}
.myFoodit .myFooditLwrap{
    float: left;
    width: 500px;
}
.myFoodit .myFooditLwrap h2{
	font-family: "nbgB";
	margin-top: 32px;
    color: #101010;
    font-size: 36px;
    line-height: 50px;
}
.myFoodit .myFooditLwrap .desc_txt{
    margin-top: 16px;
    color: #606060;
    font-size: 15px;
    line-height: 20px;
    display: inline-block;
}
.mdsWrap{
	margin-top: 25px;
}
.mdsWrap ul{
	display: table;
    table-layout: fixed;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}
.mdsWrap ul li{
    display: table-row;
}
.mdsWrap ul .mfWrap{
    border-bottom: 1px solid #e0e0e0;
}
.mdsWrap ul .mfWrap:first-child{
    margin-top: 0;
}
.mdsWrap ul .mfWrap .mfimg{
    position: static;
    display: table-cell;
    width: 132px;
    height: 132px;
    background-color: #f2f2f2;
    vertical-align: middle;
}
.mdsWrap ul .mfWrap .mfimg a{
	text-align: center;
	display: block;
}
.mdsWrap ul .mfWrap .mfimg img{
    display: block;
    width: 100%;
}
.mdsWrap ul .mfWrap .mfTtxt{
    display: table-cell;
    width: 308px;
    height: 132px;
    padding: 18px 0 17px 18px;
    vertical-align: middle;
}
.mdsWrap ul .mfWrap .mfTtxt div:last-child{
    margin-top: 13px;
}
.mdsWrap ul .mfWrap .mfTtxt div .strong{
	display: block;
    font-family: "nbgB";
    width: 230px;
    max-height: 11px;
    word-break: break-all;
    white-space: pre-line;
    line-height: 24px;
    padding-bottom: 12px;
    font-size: 19px;
}
.mdsWrap a{
	display: block;
}
.myFooditRwrap{
	float: right;
    width: 500px;
}
.myFoodit .imgMajor{
    position: relative;
}
.myFoodit .imgMajorTit{
	font-family: "nbgB";
    margin-top: 32px;
    color: #101010;
    font-size: 36px;
    line-height: 50px;
}
.myFoodit .myFooditRwrap .imgMajorTit{
    margin-top: 30px;
}
.myFooditRwrap .imgMajorTxt{
	margin-top: 16px;
    color: #606060;
    font-size: 15px;
    line-height: 23px;
}
.myFooditRwrap .myFooditDownCont {
	margin-top: 70px;
}
.myFooditRwrap .myFooditDownCont .imgMajorTit{
   	margin-top: 8px;
}

