@charset "UTF-8";
.loginWrap{
    padding: 70px 30px;
}
.loginWrap .loginBox{
	max-width: 1200px;
    margin: 0 auto;
}
.loginBox .loginTit{
	text-align: center;
	font-size: 40px;
}
.loginBox .tabRadMenu{
	width: 478px;
    margin: 0 auto 54px;
    padding-top: 56px;
}
.loginBox .tabRadMenu ul{
	text-align: center;
}
.loginBox .tabRadMenu .radMenu{
	display: inline-block;
}
.loginBox .tabRadMenu ul li{
	float: left;
}
.tabRadMenu .radMenu input{
	position: absolute;
    z-index: 0;
    opacity: 0;
}
.tabRadMenu .radMenu input:checked + label{
	padding-bottom: 4px;
    border-bottom: 3px solid #202020;
    color: #101010;
   	font-family: "nbgB";
}
.tabRadMenu .radMenu input + label{
	color: #606060;
    font-size: 24px;
    margin-right: 10px;
   	cursor: pointer;
}
.loginBox .loginCont{
	width: 478px;
    margin: 0 auto;
}
.loginBox .inputArea{
	width: 100%;
}
.loginBox .loginCont div:first-child{
	margin-bottom: 8px;
}
.loginBox .inputArea input{
	width: 93%;
	height: 48px;
  	padding: 0 16px; 
    border: 1px solid #ccc;
    font-size: 15px;
}
.loginBox .cfWrap{
	margin-top: 10px;
}
.cfWrap .chkWrap{
	display: inline-block;
}
.cfWrap .chkWrap input{
	position: absolute;
    z-index: 0;
    opacity: 0;
}
.cfWrap .chkWrap label{
	font-size: 15px;
	color: #333;
	cursor: pointer;
}
.cfWrap .find{
	float: right;
	line-height: 1.5;
}
.cfWrap .find a{
	font-size: 15px;
}
.cfWrap .find a:last-child:before{
content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    margin: 0px 8px 0;
    background-color: #333;
    position: relative;
    top: 2px;
    left: -2px;
}
.chkWrap input + label:before{
	content: '';
    zoom: 1;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -3px 0 0 0; 
    background: url(../images/btn_nchk.png) no-repeat;
    background-position: center;
    background-size: 25px;
    vertical-align: middle;
}
.chkWrap input:checked + label:before{
    background: url(../images/btn_chk.png) no-repeat;
    background-position: center;
    background-size: 25px;
}
.loginBox .btn_wrap .loginBtn{
	color: #101010;
    border: 1px solid #BDD61A;
    background-color: #BDD61A;
    width: 100%;
    margin: 25px 0;
    height: 56px;
    text-align: center;
    font-size: 18px;
    line-height: 54px;
    cursor: pointer;
    
}
.loginBox .btn_noti{
	margin-top: 16px;
    padding: 20px 32px;
    background-color: #F7F7F7;
}
.btn_noti ul li{
	text-indent: -3px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 20px;
    color: #606060;
}
.btn_noti ul li:before{
    display: inline-block;
    content: '';
    width: 3px;
    height: 3px;
    background-color: #ababab;
    position: relative;
    top: -4px;
    left: -6px;
}
