@charset "UTF-8";

#menuSearchWrap .menuSearchTit h2{
    font-family: "nbgB";
	padding-bottom: 16px;
    color: #101010;
    font-size: 40px;
    line-height: 56px;
}
#menuSearchWrap .menuSearchBox{
	margin: 24px 0 -54px;
    padding: 32px 32px 44px 32px;
    background-color: #f7f7f7;
}
#menuSearchWrap .menuSearchBox .pInfo{
    font-family: "nbg";
	width: 644px;
    margin: 10px auto 0;
    color: #606060;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.5px;
}
#menuSearchWrap .menuSearchList{
    padding: 100px 0 16px;
    border-bottom: 2px solid #202020;
}
.menuSearchList h3{
    font-family: "nbgB";
	color: #101010;
    font-size: 22px;
    line-height: 32px;
}