@charset "UTF-8";
/* pro_list admin Btn */
#pdWrap .adminBtn{
    top: 203px;
    left: 373px;
    height: 32px;
    width: 87px;
}
#pdWrap .sortList{
	font-family: "nbgB";
}
#pdWrap .sortLwrap{
    position: relative;
    padding: 0 8px 0 9px;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    text-indent: 0;
    vertical-align: middle;
    float: right;
    bottom: 27px;
}
#pdWrap .sortList .sortLwrap a.on:before{
    content: '';
    zoom: 1;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: -3px 2px 0 0;
    background: url(../images/chk.png) no-repeat;
    background-position: center;
    background-size: 13px;
    vertical-align: middle;
}
#pdWrap .menuListWrap{
	padding-top: 32px;
}
#pdWrap .menuListWrap > ul{
	margin: -11px 0 0 -92px;
}
#pdWrap .menuListWrap li{
    float: left;
    margin: 30px 0 0 93px;
    min-height: 568px;
}
#pdWrap .menuListWrap .proModule{
    width: 320px;
   	min-height: 540px;
}
#pdWrap .menuListWrap .imgWrap{
    height: 320px;
    overflow: hidden;
}
.pdDetailWrap{
	padding-top: 8px;
	font-family: "nbg";
}
.pdDetailWrap .topInfo{
    width: 1180px;
    margin: 0 auto;
}
.pdDetailWrap .topInfo .pdLeftWrap{
    float: left;
    width: 550px;
}
.pdDetailWrap .pdLeftWrap .pdImgWrap{
	padding-bottom: 24px;
}
.pdDetailWrap .pdLeftWrap .pdImgWrap > img{
	width: 550px;
}
.pdDetailWrap .topInfo .pdRightWrap{
    float: right;
    width: 500px;
}
.pdDetailWrap .topInfo .pdRightWrap .pdRtit{
	position: relative;
    padding-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;
}
.pdDetailWrap .pdRightWrap .pdRtitWrap{
	position: relative;
    font-size: 0;
    padding-bottom: 8px;
}
.pdDetailWrap .pdRtitWrap .pdRtitInfo{
	font-family: "nbgB";
}
.pdDetailWrap .pdRtitWrap .pdRtitInfo > span{
    display: block;
    color: #101010;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    word-break: break-all;
}
.pdDetailWrap .pdRtit .pdOrgin{
	color: #101010;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
}
.pdDetailWrap .pdRpriWrap{
	padding-top: 10px;	
}
.pdDetailWrap .pdRpriWrap dl{
	margin-top: 0;
}
.pdDetailWrap .pdRpriWrap dl:after{
	content: '';
    display: block;
    clear: both;
}
.pdDetailWrap .pdRpriWrap dl dt{
    float: left;
    width: 140px;
    color: #101010;
    font-size: 15px;
    line-height: 37px;
}
.pdDetailWrap .pdRpriWrap dl dd{
	float: right;
    width: 360px;
    color: #101010;
    font-size: 15px;
    line-height: 23px;
}
.pdDetailWrap .pdRpriWrap dl dd .pdPrice{
    display: inline-block;
    font-size: 26px;
    line-height: 38px;
    font-weight: 700;
    vertical-align: bottom;
}
.pdDetailWrap .pdSendWrap {
	margin-top: 10px;
    padding-top: 4px;
    border-top: 1px solid #e0e0e0;
}
.pdDetailWrap .pdSendWrap dl{
    margin-top: 6px;
}
.pdDetailWrap .pdSendWrap dl:after{
    content: '';
    display: block;
    clear: both;
}
.pdDetailWrap .pdSendWrap dl dt{
    float: left;
    width: 140px;
    color: #606060;
    font-size: 13px;
    line-height: 20px;
}
.pdDetailWrap .pdSendWrap dl dd{
    float: right;
    width: 360px;
    color: #101010;
    font-size: 13px;
    line-height: 20px;
}
.pdDetailWrap .pdSendWrap dl dd span.stPrice{
display: inline-block;
    font-size: 13px;
    line-height: 20px;
    vertical-align: middle;
}
.pdDetailWrap .pdSendWrap dl dd span.stTxt{
    display: inline-block;
    margin-left: 4px;
    color: #606060;
    font-size: 12px;
    line-height: 20px;
    vertical-align: middle;
}
.pdDetailWrap .orderSendWrap dl dd{
    margin-top: 32px;
    padding-top: 24px;
    border-top: 2px solid #202020;
}
.pdDetailWrap .itemBoxWrap{
    position: relative;
    border: 1px solid #ccc;
    padding: 14px 20px 20px;
    margin-top: 32px;
    padding-top: 24px;
    border-top: 2px solid #202020;
}
.pdDetailWrap .itemBoxWrap .itemBox .itemInfo{
	display: inline-block;
    width: 210px;
    color: #101010;
    font-size: 15px;
    line-height: 41px;
    vertical-align: top;
}
.pdDetailWrap .itemBoxWrap .itemBox .itemQuantity{
    display: inline-block;
    padding: 0 9px;
    vertical-align: top;
    font-size: 0;
}
.pdDetailWrap .itemBoxWrap .itemPriceWrap{
    float: right;
    color: #101010;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: right;
}
.pdDetailWrap .cartSend{
    margin-top: 16px;
}
.pdDetailWrap .cartSend dl{
    font-size: 0;
}
.pdDetailWrap .cartSend dl:after{
    content: '';
    display: table;
    clear: both;
}
.pdDetailWrap .cartSend dt{
	font-family: "nbgB";
    float: left;
    padding-top: 12px;
    color: #101010;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}
.pdDetailWrap .cartSend dd{
	float: right;
    color: #EE0700;
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    text-align: right;
}
.pdDetailWrap .cartSend .cartSendBtnWrap{
	padding-top: 10px;
    font-size: 0;
}
.pdDetailWrap .cartSendBtnWrap .cartSendBtn{
	float: right;
    width: 500px;
}
.pdDetailWrap .cartSendBtnWrap .cartSendBtn button{
	font-family: "nbgB";
	width: 100%;
    color: #101010;
    border: 1px solid #BDD61A;
    background-color: #BDD61A;
    height: 64px;
    font-size: 20px;
    line-height: 27px;
    cursor: pointer;
}
.pdDetailWrap .bottomInfo{
    min-height: 716px;
    position: relative;
    margin-top: 120px;
    min-width: 1180px;
    padding-top: 64px;
    clear: both;
}
.pdDetailWrap .bottomInfo .pdTabWrap{
    position: relative;
    margin-top: -64px;
    width: 100%;
}
.pdDetailWrap .bottomInfo .pdTabWrap:before{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #e0e0e0;
}
pdTabWrap .pdTabList{
    position: relative;
    width: 1180px;
    margin: 0 auto;
}
.pdTabWrap .pdTabList .pdTab{
	position: relative;
    width: 100%;
    font-size: 0;
    height: 64px;
}
.pdTabWrap .pdTabList .pdTab:before{
	content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #e0e0e0;
}
.pdTabWrap .pdTabList .pdTab:after{
    content: '';
    display: table;
    clear: both;
}
.pdTabWrap .pdTabList .pdTab li{
    display: inline-block;
    width: initial;
    text-align: center;
    vertical-align: top;
}
.pdTabWrap .pdTabList .pdTab li a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    white-space: nowrap;
}
.pdTabWrap .pdTabList .pdTab li a > span{
   	position: relative;
    z-index: 1;
    display: inline-block;
	width: 195px;
    height: 64px;
    color: #101010;
    font-size: 20px;
    line-height: 64px;
    vertical-align: top;
}
.pdTabWrap .pdTabList .pdTab li.on a > span{
    border-bottom: 3px solid #202020;
    font-family: "nbgB";
}

.bottomInfo .tabContent{
    position: relative;
    width: 1180px;
    min-height: 100vh;
    margin: 0 auto;
}
.bottomInfo .tabContent .tabView.viewDetail{
    padding-top: 72px;
}
.bottomInfo .tabContent .tabView{
    padding-top: 72px;
}
.bottomInfo .detailBox .detailImg{
    text-align: center;
}
.bottomInfo .detailBox .detailImg img{
  	max-width: 780px;
    vertical-align: top;
}
.bottomInfo .viewDetail .tTit_wrap .h2_tit{
	font-family: "nbgB";
    color: #101010;
    font-size: 22px;
    line-height: 32px;
}
.bottomInfo .viewDetail .tTit_wrap .subTtext{
	display: block;
    padding: 6px 0 0;
    color: #606060;
    font-size: 14px;
    line-height: 22px;
}
.bottomInfo .list_acco{
   	margin-top: 18px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff;
}
.bottomInfo .list_acco > ul{
    border-top: 2px solid #202020;
    border-bottom: none;
}
.bottomInfo .list_acco > ul > li{
    border-top: 1px solid #e0e0e0;
}
.bottomInfo .list_acco > ul > li:first-child{
    border-top: 0;
}
.bottomInfo .list_acco .pdHead{
    position: relative;
}
.bottomInfo .list_acco .pdHead:before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 16px;
    width: 12px;
    height: 12px;
    margin-top: -8px;
    border: 1.5px solid #303030;
    border-top: none;
    border-left: none;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.bottomInfo .list_acco .pdHead a{
   	display: block;
    padding-right: 44px;
}
.bottomInfo .list_acco .pdHead a .pTit{
	font-family: "nbgB";
	display: block;
	padding: 20px 16px 20px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #101010;
    word-break: break-all;
}
.bottomInfo .list_acco .pdBottom{
    padding: 24px 0;
    background-color: #fff;
   	border-top: 1px solid #e0e0e0;
    color: #101010;
    font-size: 14px;
    line-height: 22px;
}
.bottomInfo .list_acco .pdBottom dl{
   	padding-top: 20px;
    font-size: 0;
}
.bottomInfo .list_acco .pdBottom dl:first-child{
   	padding-top: 0;
}
.bottomInfo .list_acco .pdBottom dl .txtPar:first-child{
    margin-top: 0;
}
.bottomInfo .list_acco .pdBottom .fc_black{
   	color: #101010;
}
.bottomInfo .pdBottom dl dt.pContTit{
   	color: #101010;
    font-size: 15px;
    line-height: 23px;
}
.bottomInfo .list_acco .pdBottom dl dt.pContTit{
	font-family: "nbgB";
	display: inline-block;
    width: 160px;
    vertical-align: top;
}
.bottomInfo .list_acco .pdBottom dl dd{
	display: inline-block;
    width: 616px;
    padding-left: 28px;
    padding-right: 32px;
    color: #606060;
    font-size: 15px;
    line-height: 23px;
    vertical-align: top;
}
.bottomInfo .list_acco .pdBottom dl dd .txtPar{
	margin-top: 16px;
}
.bottomInfo .list_acco .pdBottom dl dd .txtBox{
    margin-top: 8px;
    padding: 12px 16px;
    background-color: #f7f7f7;
}
.bul_list li:first-child{
	margin-top: 0;
}
.bul_list li{
    text-indent: -10px;
    margin-left: 10px;
    margin-top: 6px;
    font-size: 12px;
    line-height: 20px;
    color: #606060;
}
.bul_list .bul{
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 8px 4px 0 0;
    background-color: #b0b0b0;
    vertical-align: top;
    font-style: normal;
    text-indent: -10px;
}
.bul_num_list li:first-child{
	margin-top: 0;
}
.bul_num_list li{
	margin-top: 8px;
    font-size: 13px;
    line-height: 21px;
}
.bul_num_list li .num_txt{
	margin-left: 3px;
}







